// Main Colors
$backgroundColor: #06182B;
$primaryColor: #FF8E4F;
$headerColor: #4E41EA;
$gray3: #f5f5f5;


// TextColor
$textColor: #1f192f;
$footerTextColor: #485E75;

// Bet modal
$modalBorderRadius: 16px;