@import 'assets/scss/_variables.scss';

.login-card {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 8px;

    .betit-logo {
        margin-bottom: 30px;
    }

    h3 {
        color: $textColor;
    }

    .ant-form-item {
        margin-bottom: 10px;
    }

    .default-input-field {
        height: 42px;
    }
    
    .ant-input-prefix {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .primary-button {
        height: 42px;
        margin-top: 5px;
    }
}